canvas{
    width: 100%;
    height: auto;
    margin: 0;
    border: 2px solid #000;
    box-sizing: border-box;
}
#grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.col{
    text-align: center;
    width: 80%;
}
.title{
    text-align: center;
    font-size: 4vw;
}
#dummy-content{
    white-space: pre-line;
}